body{
    background-image: url(https://st2.depositphotos.com/1106005/8169/i/600/depositphotos_81696382-stock-photo-teal-and-white-doggy-tile.jpg);
    color: aliceblue;
    
}
header{
    text-align: center;
    margin: 1px;
    background-color: rgba(1, 1, 1, 0.4);
    border-radius: 10px;
    height: 230px;
    font-size: 20px;
}
header p{
    width: 650px;
    margin: 1px auto;
    text-align: justify;
}
main{
    text-align: end;
    width: 380px;
}

ul li{
    list-style: none;
    gap: 10px;
    

}