header{
    text-align: center;
    margin: 1px;
    background-color: rgba(1, 1, 1, 0.1);
    border-radius: 10px;
    height: 150px;
}
header p{
    width: 650px;
    margin: 1px auto;
    text-align: justify;
}
form{
    width: 380px;
    text-align: end;
}
   
    
}
ul li{
    list-style: none;
    gap: 10px;
    

}